/* @media (max-width: 850px); */
@media (min-width: 641px) {
  #background1 {
    display: none;
  }
  .me {
    display: none;
  }
  .sidenav {
    display: none;
  }
}
@media (max-width: 640px) {
  .menu {
    display: none;
  }
  .icons {
    display: none;
  }
  #desk {
    display: none;
  }
  .sidenav li {
    margin-bottom: 20px;
  }
  .icons1 {
    margin: 10px;
  }
  .projects {
    flex-direction: column;
  }
  #background {
    display: none;
  }
  #background1 {
    width: 100%;
    position: absolute;
    top: 359px;
  }
  .name {
    padding: 0;
    height: 300px;
  }
  span > h1 {
    font-size: 39px;
  }
  .project1 {
    /* height: 100%; */
    margin: 20px;
  }
  #p1 {
    margin-top: 150px;
  }
  .sidenav {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fcfafa;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  .sidenav ul {
    padding: 20px 10px 8px 32px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    display: block;
  }
  .sidenav .closebtn {
    background-color: rgba(243, 236, 237, 0);
    border: 0;
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 36px;
  }
  .goal {
    margin-bottom: 20px;
  }
  .info {
    margin-bottom: 20px;
  }
  .icon {
    position: absolute;
    bottom: 0;
  }
  .foot {
    flex-direction: column;
    /* align-items: start; */
  }

  .logo,
  .info,
  .icon1 {
    margin-right: 0;
  }
}
